<h1>とっぷぺえじ</h1>

<p> song search </p>
<%= form_tag "/songs/search" do %>
  <p>
    曲名 : <br />
    <%= text_field_tag "keywords", params[:keywords] %><br />
    <%= submit_tag "検索" %>
  </p>
<% end %>
    <%=  %>

<table>
  <thead>
    <tr>
      <th width="450">曲名</th>
      <th width="150">名義</th>
      <th width="150">作詞</th>
      <th width="150">作曲</th>
      <th width="150">編曲</th>
      <th width="150">収録アルバム</th>
    </tr>
  </thead>
  <br />
  <tbody>
    <%if(@search!=nil)%>
    <% @search.each do |song| %>
      <tr>
        <td><%= link_to song.titles , '/songs/'+song.titles  %></td>
        <td> <%= link_to song.singers , '/artists/singers/'+song.singers %> </td>
      <td> <%= link_to song.lyrists , '/artists/lyrists/'+song.lyrists unless song.lyrists.nil? %> </td>
        <td> <%= link_to song.composers , '/artists/composers/'+song.composers %> </td>
        <td> <%= link_to song.arrangers , '/artists/arrangers/'+song.arrangers %> </td>
        <td> <%= link_to song.albums , '/albums/'+CGI.escape(song.albums).gsub("+","%20") %> </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
